footer {
    background-color: #ccc;
    font-size: 10px;

    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
    padding-left: 40px;
    /* teste */
}
footer p{
    color: #666;
}
