@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

:root{
    --HEADER-height: 80px;
    --FOOTER-heigth: 45px;
}
header{
    height: var(--HEADER-height);
}
footer{
    height: var(--FOOTER-heigth);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #888;
    font-family: 'Raleway', sans-serif;
}
a{
    transition: 0.2s;

    text-decoration: none;
}
a:hover{
    filter: brightness(0.6);
}
a.Icon-Link{
    display: flex;
    align-items: center;
}
a svg{
    margin-right: 10px;
    font-size: 20px;
}
.container{
    width: 100%;
    height: calc(100vh - var(--HEADER-height) - var(--FOOTER-heigth) );

    margin-top: var(--HEADER-height);


    display: flex;
    align-items: center;
    justify-content: center;
}
.floating-box{
    background-color: #ddd;
    flex-direction: column;
    border-radius: 8px;
    padding: 20px 30px;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}
input, button{
    text-align: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 12px;
    margin: 1px 0;
    border-radius: 8px;
    border: 1px solid #ccc;

    display: inline-flex;

    transition: 0.2s;
}
input::placeholder{
    color: #aaa;
}
.merge-inputs{
    display: flex;
}
.merge-inputs input + input {
    margin-left: 2px;
}
button{
    margin: 10px 10px 0 0;
    color: white;
    background-color: #888;

    text-transform: uppercase;
    font-weight: 600;
}
button:hover{
    cursor: pointer;
    filter: drop-shadow(0 4px 2px rgba(0,0,0,0.1));
    transform: scale(1.02);
}

.uppercase{
    text-transform: uppercase;
}